.container {
  position: relative;
}
.login-drop {
  position: absolute;
  width: 100%;
  min-width: 400px;
  top: 50px;
  right: 5px;
  background-color: #535557;
  border-radius: 5px;
  padding: 1rem;
  z-index: 3;
}
.desc {
  color: rgb(235, 235, 235);
  font-size: 1.2rem;
}
.input-group {
  margin: 10px;
  width: calc(100% - 20px)
}
.btn-half {
  width: calc(50% - 10px);
  margin: 5px;
}
