.bg {
  left: 256px;
  position: fixed;
  width: 40vw;
}
nb-card {
  width: 40vw;
  min-height: 80vh;
  position: absolute;
  top: 10vh;
  right: 10vw;
  nb-card-header {
    font-size: 3vw;
    color: #60C4FF;
    text-align: center;
  }
  nb-card-body {
    padding: 5vw;
    font-size: 1.5vw;
    .btn {
      margin: 4vw 1vw;
    }
  }
}
