app-pack-page {
  overflow-x: hidden;
}
.banner {
  width: calc(100% + 4.5rem);
  margin: 0 -2.25rem;
  img {
    width: 100%;
  }
}
.banner.withVideo {
  min-height: 500px;
}
.back {
  position: absolute;
  top: 10px;
  left: 265px;
  cursor: default;
}
.play {
  position: absolute;
  top: calc((500px - 5vw) / 2 + 40px);
  left: 57%;
  transform: translateX(-50%);
  cursor: pointer;
  height: 5vw;
  width: 5vw;
  border-radius: 3vw;
  background-color: rgba(0, 0, 0, 0.3);
  i {
    width: 5vw;
    color: black;
    font-size: 3vw;
    margin: 1vw;
    text-align: center;
    line-height: 5vw;
  }
}
.video {
  position: absolute;
  width: 888px;
  top: 40px;
  left: 57%;
  transform: translateX(-50%);
  height: 500px;
  background-color: black;
  box-shadow: 0 2px 12px 0 rgba(#000000, 0.4);
  margin: 0 auto;
  .nb-close {
    position: absolute;
    top: -10px;
    font-size: 40px;
    right: -10px;
    z-index: 5;
  }
}
nb-card-header {
  position: relative;
  padding: 1.25rem 18vw 1.25rem 5vw;
  h3 {
    text-align: center;
    font-size: 2vw;
  }
}
nb-card-body {
  padding-right: 18vw;
  position: relative;
  min-height: 40vh;
}
.side-table {
  table-layout: fixed;
  font-size: 1vw;
  margin-top: calc(-2% - 1.25rem);
  width: 15vw !important;
  position: absolute;
  right: 1.25rem;
  z-index: 5;
  background-color: white;
  th {
    padding: 0;
    height: 15vw;
    width: 15vw;
    img {
      width: 15vw;
      height: 15vw;
    }
  }
  a {
    width: 1vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .link {
    cursor: pointer;
    color: #3dcc6d;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:hover {
      text-decoration: underline;
    }
  }
  tr, td {
    width: 15vw;
  }
}
.install-btn {
  padding: 0.1vw 0;
  height: 2.5vw;
  width: 25vw;
  font-size: 1vw;
}
.dropdown {
  margin-left: 2vw;
}
.dropdown, .dropdown button {
  width: 20vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  font-size: 1vw;
  height: 2.5vw;
  line-height: 2vw;
  text-align: center;
  display: inline-block;
}
.buttons {
  padding-left: 2vw;
  padding-right: 15vw;
}
