<div class="head"><img src="favicon.ico" alt=""></div>
<div id="center">
<nb-card>
  <nb-card-header id="click-header" *ngIf="showGuide" (click)="showGuide = false">How to submit your own datapack: <i class="nb-arrow-up" ></i></nb-card-header>
  <nb-card-header id="click-header" *ngIf="!showGuide" (click)="showGuide = true">How to submit your own datapack: <i class="nb-arrow-down"></i></nb-card-header>
  <nb-card-body *ngIf="showGuide">
    <!--<iframe *ngIf="articleData.yt" [width]="screenWidth > 960 ? 920 : screenWidth - 40" [height]="screenWidth > 960 ? 400 : (screenWidth - 40)/21*9" [src]="'https://www.youtube.com/embed/' + articleData.yt + '?rel=0&amp;controls=0&amp;showinfo=0' | safeURL" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    <div class="content" [innerHtml]="installGuide"></div>
  </nb-card-body>
</nb-card>
<nb-card (mouseenter)="onHoverInForm($event)" (mouseleave)="onHoverOutForm($event)">
  <nb-card-header ><div class="input-group">
    <p>Please fill out this form: </p>
    <input type="text" class="form-control small-input" placeholder="or import your json here" #jsonImporter (keydown.enter)="importJson(jsonImporter)">
    <button class="btn btn-small btn-hero-danger" (click)="clearForm()"> <i class="nb-trash"></i> </button>
  </div></nb-card-header>
  <nb-card-body>
    Fields marked with a * need not to be filled out.
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.email}" placeholder="your email or discord tag (will not be published!)" [(ngModel)]="formInput.email">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.creator}" placeholder="nickname" [(ngModel)]="formInput.creator">
      <input type="text" class="form-control" placeholder="*link to your social media, whatever" [(ngModel)]="formInput.creatorLink">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.id}" placeholder="unique datapack id (I recommend your namespace)" [(ngModel)]="formInput.id">
      <div ngbDropdown class="dropdown">
        <button class="btn btn-info btn-space" type="button" ngbDropdownToggle>{{formInput.type}}</button>
        <ul class="dropdown-menu" ngbDropdownMenu>
          <li class="dropdown-item" (click)="formInput.type = 'datapack'">Datapack</li>
          <li class="dropdown-item" (click)="formInput.type = 'resourcepack'">Resourcepack</li>
        </ul>
      </div>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.title}" placeholder="Name of your Datapack" [(ngModel)]="formInput.title">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.logo}" placeholder="Direct link to 256x256 logo (I recommend imgur for upload)" [(ngModel)]="formInput.logo">
      <input type="text" class="form-control" placeholder="*Direct link to banner (3:1 ratio)" [(ngModel)]="formInput.banner">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="*youtube url" [(ngModel)]="formInput.video">
      <input type="text" class="form-control" placeholder="*website or forum post of the datapack" [(ngModel)]="formInput.website">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': formValidation.description}" [(ngModel)]="formInput.description" placeholder="link to description file(markdown or txt) that explains what, why and how to use your datapack(I recommend gitHub for upload)">
    </div>
    <div ngbDropdown class="dropdown" *ngIf="dependencies && getKeys(dependencies).length" style="width:100%;margin-bottom:20px;" [autoClose]="false">
      <button class="btn btn-info" type="button" ngbDropdownToggle>*My Datapack is depending on: {{getSelectedDepend()}}</button>
      <ul class="dropdown-menu " ngbDropdownMenu>
        <ng-container *ngFor="let depend of getKeys(dependencies)">
          <li class="dropdown-item" *ngIf="!dependencies[depend]" (click)="dependencies[depend] = true"><i class="nb-square-outline"></i> {{depend}}</li>
          <li class="dropdown-item" *ngIf="dependencies[depend]" (click)="dependencies[depend] = false"><i class="nb-square"></i> {{depend}}</li>
        </ng-container>
      </ul>
    </div>
    <h5>Versions</h5>
    <div class="input-group">
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': versionInvalid.version}" placeholder="version number" #versionNumber>
      <input type="text" class="form-control" [ngClass]="{'form-control-danger': versionInvalid.url}" placeholder="link to downloadable file(nofile.io or gitHub works)" #versionUrl>
      <button class="btn btn-hero-success btn-space" (click)="addVersion(versionNumber, versionUrl)">Add version</button>
    </div>
    <nb-card *ngFor="let version of getKeys(versions.all); let i = index">
      <nb-card-header class="version-display" [ngClass]="{'version-selected': i === versions.selected}">
        <p class="version">{{version}}</p>
        <ng-container *ngIf="!(versions.all[version].editUrl && versions.all[version].editUrl.length >= 0)">
          <a class="file" href="#">
            {{versions.all[version].url}}
          </a>
          <button class="btn btn-hero-info" *ngIf="i !== versions.selected" (click)="changeMainVersion(i)">Make current version</button>
          <button class="btn btn-small btn-hero-warning" (click)="editVersion(version)"> <i class="nb-edit"></i> </button>
          <button class="btn btn-small btn-hero-danger" (click)="deleteVersion(version,i)"> <i class="nb-trash"></i> </button>
        </ng-container>
        <div class="input-group" *ngIf="versions.all[version].editUrl && versions.all[version].editUrl.length >= 0">
          <input type="text" class="form-control" placeholder="link to file" [(ngModel)]="versions.all[version].editUrl">
          <button class="btn btn-hero-success btn-space" (click)="saveEditVersion(version)">Save</button>
        </div>
      </nb-card-header>
    </nb-card>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-block btn-hero-info" style="height: 100px;" (click)="submit()">Submit!</button>
    <p *ngIf="successMessage" style="font-size: 25px" [innerHtml]="successMessage"></p>
  </nb-card-footer>
  <nb-card-footer>
    <button class="btn btn-block btn-hero-warning" (click)="generate()">Just Generate</button>
    <pre *ngIf="errorMessage"><code>{{errorMessage}}</code></pre>
    <div *ngIf="genResult">
      <p>Please save a copy yourself:</p>
      <pre style="height:600px"><code>{{genResult}}</code></pre>
    </div>
  </nb-card-footer>
</nb-card>
</div>
