nb-card-header {
  position: relative;
  padding: 0 !important;
  height: 6vw;
  min-height: 60px;
  .logo {
    height: 100%;
    width: 6vw;
    min-width: 60px;
    background: #45454a;
    cursor: pointer;
  }
  .logo-offline {
    background-image: linear-gradient(to right, #ffd324, #ffae24);
    text-align: center;
    line-height: 6vw;
  }
  h2 {
    position: absolute;
    left: calc(30px + 6vw);
    width: calc(74vw - 310px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vw;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  p {
    color: rgb(185, 185, 185);
    margin-top: -1.5vw;
    margin-left: 8vw;
  }
  .install-btn {
    padding: 0.1vw 0;
    height: 50%;
    width: 10vw;
    position: absolute;
    right: 5vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1vw;
  }
  .install-btn.btn-hero-info {
    width: 13vw;
  }
}
.group p {
  font-size: 1vw;
  cursor: pointer;
}
