<h3 *ngIf="worldName">Editing packs for {{worldName}}</h3>
<ng-container *ngFor="let group of datapacks">
<div class="group" *ngIf="group.packs && group.packs.length">
  <p *ngIf="!group.collapsed" (click)="group.collapsed = true">{{group.name}}({{group.packs.length}}) ▲</p>
  <p *ngIf="group.collapsed" (click)="group.collapsed = false">{{group.name}}({{group.packs.length}}) ▼</p>
  <div *ngIf="!group.collapsed">
  <ng-container *ngFor="let pack of group.packs; let i = index">
    <nb-card>
      <nb-card-header>
        <img [src]="pack.logo" alt="" class="logo" *ngIf="!pack.offline" [routerLink]="getPageLink(pack)">
        <div class="logo logo-offline" *ngIf="pack.offline">Offline</div>
        <h2 *ngIf="!pack.offline" [routerLink]="getPageLink(pack)">{{pack.title}}</h2>
        <p *ngIf="!pack.offline && pack.creator" [routerLink]="getPageLink(pack)">by {{pack.creator}}</p>
        <h2 *ngIf="pack.offline">{{pack.title}}</h2>
        <button class="btn btn-hero-success install-btn" *ngIf="!pack.status" (click)="install(pack,i)">Install</button>
        <button class="btn btn-hero-info install-btn" *ngIf="pack.status == 'update'" (click)="install(pack,i)">Update to Version {{pack.version}}</button>
        <button class="btn btn-hero-warning install-btn" *ngIf="pack.status == 'installed' && !pack.offline" (click)="uninstall(pack,i)">Uninstall</button>
        <button class="btn btn-disabled install-btn" disabled *ngIf="pack.status == 'installed' && pack.offline">Installed</button>
        <button class="btn btn-disabled install-btn" disabled *ngIf="pack.status == 'installing'">Installing...</button>
      </nb-card-header>
    </nb-card>
  </ng-container>
    </div>
</div>
</ng-container>
