/* You can add global styles to this file, and also import other style files */
@import 'themes';

// framework component styles which will use your new theme
@import '~@nebular/theme/styles/globals';

// install the framework
@include nb-install() {
  @include nb-theme-global();
};

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
